<article>
	<h1>Where you can learn to code</h1>
<p>Below are a number of online sites that have coding tests and would help you better learn to code.</p>

<section>
	<% @learns.each do |learn| %>
	<section class="learnable">
	<h2><%= learn.title.titleize %></h2>
	<%= learn.image %>
	<p><%= learn.description %>
		<br />
		<span>Link: &nbsp;</span> <%= link_to learn.site, "http://#{learn.site}", :target => "_blank"%>
	</p>
	
	<div>
	<h3>Is this Free?</h3>
	<p><%= learn.free.humanize %></p>
	</div>
	<div>
		<%= link_to 'Show', learn %> | <%= link_to 'Edit', edit_learn_path(learn) %> | <%= link_to 'Destroy', learn, method: :delete, data: { confirm: 'Are you sure?' } %>
	</div>
	</section>
	<% end %>
</section>
<br/>
</article>
<aside>
<%= link_to 'Add a new learning resource', new_learn_path, :class => 'button' %>

</aside>
	
