<p>
  <strong>Question:</strong>
  <%= @test.question %>
</p>

<aside>
	<h2>Answers</h2>
	<p>Please select an Answer</p>
	<ul>
		<li>
			  <%= @test.answera %>
		</li>
		<li>
			  <%= @test.answerb %>
		</li>
		<li>
			  <%= @test.answerc %>
		</li>
		<li>
			  <%= @test.answerd %>
		</li>
	</ul>
</aside>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
