<%= simple_form_for(@detail) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, :label => 'Please tell me your name' %>
    <%= f.input :age, :label => 'How old are you?' %>
    <%= f.input :email, :label => 'Please submit email, so we can send you results' %>
    <%= f.input :profession, :label => 'What Profession/background are you from?', :required => true %><i>collection list</i>
    <%= f.input :lenghtteach, :label => 'If a teacher how long have you been teaching?', :required => true  %> <i>collection list</i>
    <%= f.input :location, :label => 'What area do you live/work in?', :required => true  %> <i>collection list</i>
    <p>From a scale of zero to five, 0 being no competance, and 5 being very competant, how competant are your ICT skills?</p>
    <%= f.input :ictlevel, :label => 'ICT Proficiency', :required => true  %>
    <p>Please click the box to allow your anonymous results being included in this research study.</p>
    <%= f.input :research, :label => 'Do you consent', :checked => 'checked' %>
  </div>

  <div class="form-actions">
    <%= f.submit 'Submit' %>
  </div>
<% end %>
